/web-sample-core/.project
/web-sample-core/.settings
/web-sample-core/target
/web-sample-core/.classpath
/.project
/.settings

/web-sample-springmvc/.project
/web-sample-springmvc/.settings
/web-sample-springmvc/target
/web-sample-springmvc/.classpath
/web-sample-struts2/.project
/web-sample-struts2/.settings
/web-sample-struts2/target
/web-sample-struts2/.classpath
/web-sample-resources/.classpath
/web-sample-resources/.project
/web-sample-resources/.settings

/web-sample-resources/target
/web-sample-struts2/work

/web-sample-struts2/.tomcatplugin
/web-sample-springmvc/work
/web-sample-springmvc/.tomcatplugin
